{
    "env": {  // где будет исполняться наш код
        "browser": true,
        "es2021": true,
        "jest": true,
        "es6": true, // для поддержки sc6
        "node": true // для поддержки node переменных
    },
    /*
    Пресет с настройками. prettier должен быть последним.
 Он удаляет некоторые правила eslint из-за которых могут возникать конфликты.
    */
    "extends": [
        "react-app",
        "react-app/jest",
        "airbnb",
        "airbnb-typescript",
        "plugin:import/recommended",
        "plugin:prettier/recommended",
        "prettier"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": "latest", // версия стандарта JavaScript. Последний 12 (2021).
        "sourceType": "module", // Позволяет использовать import/export
        "project": "./tsconfig.json"
    },
    // Здесь подключаем используемые плагины.
    "plugins": [
        "react",
        "@typescript-eslint",
        "prettier",
        "eslint-plugin-import"
    ],
    "rules": {
        "prettier/prettier": "error", // Обязательно!! Подсвечивает ошибки из Prettier.
        "react/react-in-jsx-scope": ["off"],
        "react/jsx-uses-react": ["off"],
        "react/jsx-props-no-spreading": ["warn"],
        "react/no-unescaped-entities": ["off"],
        "react/no-array-index-key": "off",
        "react-hooks/exhaustive-deps": ["off"],
        "no-param-reassign": [2, {
            "props": false
        }],
        "@typescript-eslint/no-unused-vars": "off",
        "jsx-a11y/no-static-element-interactions": [
            "error",
            {
                "handlers": [
                    "onClick",
                    "onMouseDown",
                    "onMouseUp",
                    "onKeyPress",
                    "onKeyDown",
                    "onKeyUp"
                ],
                "allowExpressionValues": true
            }
        ],
        "jsx-a11y/click-events-have-key-events": "off",
        "jsx-a11y/no-noninteractive-element-interactions": "off",
        "react/self-closing-comp": ["error", {
            "component": true,
            "html": true
        }],
        "import/prefer-default-export": "off",
        "no-plusplus": ["error", {
            "allowForLoopAfterthoughts": true
        }]
//        "no-unused-vars": "off",
//        "@typescript-eslint/no-unused-vars": ["error"]
    }
}